#card-main {
  width: 30%;
  height: 80%;
  padding: 28px;

  #card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    background-color: #f4f3f8;
  }

  #card-description {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: white;

    #card-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
