#table-main {
  height: 100%;
  width: 95%;
  overflow: auto;

  #navbar {
    height: 40px;
    .nav-button {
      height: 40px;
      background-color: #c3d0ec;
      border: none;
      border-radius: 4px;
      margin-right: 5px;
    }
    .selected-nav-button {
      background-color: white;
    }
    .nav-button:focus {
      outline: 0px;
    }
  }
  table {
    padding: 20px;
    width: 100%;
    border-spacing: 0px;
    background-color: white;
    height: 90%;

    thead {
      color: white;
      background-color: #93b2f5;
      height: 20px;
      width: 100%;

      th {
        margin: 0px;
        padding: 0px;
        height: 30px;
      }
    }
    tbody {
      height: 80%;

      overflow: auto;

      td {
        height: 40px;
      }
    }
  }
}
.action-tag {
  padding: 5px;
  margin-left: 5px;
  border-radius: 25%;
  border: none;
  background-color: rgb(190, 243, 85);
}
.table-row:hover {
  background-color: rgb(196, 221, 146);
  transition: ease-in 0.3s;
}
