#screen{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #EDEDED;
  

#card-container{
  height: 25%;
  width: 90%;
  display: flex;
}
#table-container{
  height: 75%;
  width: 90%;
}
}