#screen {
  height: 100vh;

  box-sizing: border-box;
  background-color: #ededed;

  #card-container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #table-container {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}
